
#clockContainer{
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    /* background-color: red; */
    height: 40vw;
    width: 40vw;
    height: 440px;
    width: 440px;
    background: url(clock.png);
    background-size: 100%;
}

#hourHand, #minuteHand, #secondHand{
    position:absolute;
    background: black;
    border-radius: 20px ;
    transform-origin: bottom;
}

#hourHand{
    height: 24%;
    width: 1.9%;
    top: 25%;
    left: 49.13%;
    opacity: 0.8;
    /* display: none */

} 
#minuteHand{
    height: 35%;
    width: 1%;
    top: 14%;
    left: 49.55%;
    opacity: 0.6;
    /* display: none; */

} 

#secondHand{
    height: 42.1%;
    width: 0.8%;
    top: 7%;
    left: 49.59%;
    opacity: 0.3;
    /* display: none */
}